
body {
    background-color: rgb(131, 2, 2);
   
}

h1 {
    color: white;
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: .5em;
    border: solid white 2pt;
    text-align: center;
    background-color: rgb(2, 47, 131);
    font-family: 'Rubik Mono One', sans-serif;
}

nav {
    position: relative;
    left: 810px;
}

li {
    border: solid white 1pt;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgb(2, 47, 131);
    border-radius: .5em;
    display: inline;
    list-style: none;

}

#fr{
    border: solid white 5pt;
    border-radius: .5em;
    position: relative;
    left: 1125pt;
    bottom: 850pt;
}

#cooky{
    border: solid white 5pt;
    border-radius: .5em;
    position: relative;
    right: 150pt;
    bottom: 850pt;
}

#fam, #fish, #tshirt, #cutter {
    display: block;
    margin: 0 auto;
    border: solid white 5pt;
    border-radius: .5em;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    width: 15%;
    background-color: rgb(2, 47, 131);
    border-radius: .5em;
    text-align: center;
    border: solid white 1pt;
    display: block;
    margin: 0 auto;

}
a[href="#Merchandise"] {
    color: white;
    text-decoration: none;
    }

a[href="#Cookies"] {
    color: white;
    text-decoration: none;
    }
    

image {
    display: block;
    margin: 0 auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-indent: 2em;
    width: 25%;
    display: block;
    margin: 0 auto;
  
}