
body {
    background-color: rgb(131, 2, 2);
   
}

h1 {
    color: white;
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: .5em;
    text-align: center;
    background-color: rgb(2, 47, 131);
    font-family: 'Rubik Mono One', sans-serif;
}

nav {
    position: relative;
    left: 750px;
}

li {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgb(2, 47, 131);
    border-radius: .5em;
    display: inline;
    list-style: none;

}