table {
        border: solid black 2pt;
        background-color: rgb(131, 2, 2);
        width:800pt;
        position: relative; left: 280pt;        
       
}   

td  {
     border: solid black 2pt;
     background-color: rgb(252, 198, 198);  
}

th  {
    border: solid black 1pt;
    color: white;  
}

form {
   margin: 10pt;
   padding: 20pt;
   width: 800pt;
   position: relative; left: 250pt; 
   border: solid rgb(131, 2, 2) 2pt;
   background-color: rgb(252, 198, 198);
}

label   {
    margin: 10pt; 
    display: flex;
    justify-content: center;

}

p {
    display: flex;
    justify-content: center;
}